<div [hidden]="!QA_Form"  class="container">
    <h1>{{Statement}}</h1>
    <form #qaForm='ngForm'>
      <div class="form-group">
        <label for="Statement">Answers:</label>
        <select #Ans_select class="form-group" id="Answers">
          <option *ngFor="let Ans of Answers" value:Ans>{{Ans}}</option>
        </select>
      </div>
      <button (click)="next_qa(Ans_select.value)">Submit</button>
    </form>
  </div>

 <div [hidden]="QA_Form" class="container">
   <ul>
     <li *ngFor="let entry of Entries">
       {{entry['Statement']}} - {{entry['Answer']}}
     </li>
     <li>
        {{Last_Entry['Statement']}}
     </li>
   </ul>
   <a  routerLink= "/qa">Load New Question?</a>
 </div> 

 